{% extends "main.tmpl" %}
<!--
# Fabrik - a custom django/javascript frontend to cobbler
#
# Copyright 2009-2012 Stuart Sears
#
# This file is part of fabrik
#
# fabrik is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 2 of the License, or (at your option)
# any later version.
#
# fabrik is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with fabrik. If not, see http://www.gnu.org/licenses/.
#
#
#     iso_summary.tmpl
#
#     template HTML file
#     Used during the system boot ISO generation process
#     provides summary information and a link to the generated ISO image
#
-->

{% block title %}Fabrik - ISO Image generation results{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function() {
    $('#createiso').addClass('current');
});
</script>
{% endblock %}

{% block content %}
<h1>ISO Image Generated</h1>
<hr/>
<div id="formwrapper">
<table>
<tr valign="top"><th>Systems:</th><td>{{ systems }}</td>
<tr valign="top"><th>Profiles:</th><td>{{ profiles }}</td>
<tr>
<th>ISO Image Location :</th>
<td><a href="http://{{ cobbler_server }}{{ iso_root }}/{{ iso_name }}">http://{{ cobbler_server }}{{ iso_root }}/{{ iso_name }}</a></td>
</tr>
</table>
</div>
{% endblock %}
<!-- footer: do not edit below this line -->
<!-- vim: set et ts=4 sts=4 sw=4 smartindent ai nu ft=xml: -->
