<!DOCTYPE html PUBLIC "-/W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http:/www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--
# Fabrik - a custom django/javascript frontend to cobbler
#
# Copyright 2009-2012 Stuart Sears
#
# This file is part of fabrik
#
# fabrik is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 2 of the License, or (at your option)
# any later version.
#
# fabrik is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with fabrik. If not, see http://www.gnu.org/licenses/.
#
#       main.tmpl
#
# 
#       The master HTML template, extended by all other templates in use
#
-->
<head>
<link rel="stylesheet" type="text/css" href="/media/css/fabrik.css">
{% block stylesheets %}
{% endblock %}
<title>{% block title %}Custom SBRF implementation for cobbler2 (beta){% endblock %}</title>
<script type="text/javascript" src='/media/js/jquery-1.4.2.min.js'></script>
<script type="text/javascript" src='/media/js/fabrik.js'></script>
<script type="text/javascript" src='/media/js/jquery.json-2.2.min.js'></script>
{% block scripts %}{% endblock %}
</head>
<div id="masthead">
<!--  <img src="/media/img/companylogo.gif" alt="Company Logo" /> -->
<ul id="navbar">
<li><a href="/apps/fabrik/list" title="List All System Records" id="listsystems">Existing Systems</a></li>
<li><a href="/apps/fabrik/add" title="Create New System Records" id="addsystem">New System</a></li>
<li><a href="/apps/fabrik/iso" title="Generate Bootable ISO images" id="createiso">ISO Images</a></li>
{% block navbar %}{% endblock %}
</ul>
</div>
<span id="currentuser">
{% if remoteuser %}
Logged in as {{ remoteuser }}
{% endif %}
</span>
<div id="content">
{% block content %}{% endblock %}
</div>
<body>
</body>
</html>
<!-- footer: do not edit below this line -->
<!-- vim: set et ts=4 sts=4 sw=4 smartindent ai nu ft=xml: -->
