{% extends "main.tmpl" %}
<!--
# Fabrik - a custom django/javascript frontend to cobbler
#
# Copyright 2009-2012 Stuart Sears
#
# This file is part of fabrik
#
# fabrik is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 2 of the License, or (at your option)
# any later version.
#
# fabrik is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with fabrik. If not, see http://www.gnu.org/licenses/.
#
# 
#       system_delete.tmpl
#
#        Template HTML file
#        Used during the system record deletion process
#        provides a drop-down list to select system for deletion.
#        This file is under subversion control
#
#        No longer in use - systems deletion has gone all AJAXy from the system_table.
#
-->

{% block title %}Fabrik - Delete System Record{% endblock %}
{% block scripts %}
<script type="text/javascript">
$( function() {    
    $('#delsystem').addClass('current');

});

</script>
{% endblock %}
{% block content %}
<p>Choose a system from the list below and click the button to delete it from the database.<br/>
You will be asked to confirm your choice on the next screen.</p>
<div id="formwrapper">
<table>
<form action="." method="post">
<tr><th class="header" colspan="3">{{ form.systemname.label_tag }}</th></tr>
<tr>
<td>{{ form.systemname }}</td>
<td><span class="errors">{{ form.systemname.errors }}</span></td>
</ul></td>
<tr>
<tr><td><input type="submit" value="Delete" class="button"></td></tr>
</form>
</table>
</div>

{% endblock %}
<!-- footer: do not edit below this line -->
<!-- vim: set et ts=4 sts=4 sw=4 smartindent ai nu ft=xml: -->
